@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Lato:wght@700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  /* font-size: 18px;
  line-height: 1.5;
  color: #333; */
  background-color: #f4f4f4;
}

#board {
  width: 630px;
  height: 540px;
  margin: 0 auto;
  background-color: rgb(4, 4, 247);
  border: 10px solid navy;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.cell-empty {
  width: 80px;
  height: 80px;
  margin: 5px;
  border-radius: 50%;
  background-color: #dd2e2e;
  border: 5px solid navy;
}

/* #game {
  height: 540px;
  width: 630px;
}
 
h1 {
  font-family: 'delicious', sans-serif;
  color: #634848;
  margin-top: 1rem;
  text-align: center;
} */

/* table {
  margin: 1rem auto;
  background-color: #0a5cf3;
  padding: 0.2rem;
}

td {
  color: #fff;
  border: 1px solid #9e9a9a;
  padding: 1rem 2.7rem;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
}

.empty {
  border: 1px dotted #d6d5d1;
}

.empty:hover {
  background-color: yellow;
} */
