@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Lato:wght@700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}

#board {
  width: 630px;
  height: 540px;
  margin: 0 auto;
  background-color: rgb(4, 4, 247);
  border: 10px solid navy;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.cell-empty {
  width: 71px;
  height: 71px;
  margin: 8px;
  border-radius: 50%;
  background-color: #f3eded;
  border: 5px solid navy;
}

.red-cell {
  background-color: red;
}

.yellow-cell {
  background-color: yellow;
}

.winner {
  text-align: center;
  font-family: inherit;
}
